<div class="col s12 m12 l12" ng-controller="downloadableController">
    <div class="card z-depth-2 white lighten-5 large">

        <div class="card-image waves-effect waves-block waves-light" style="overflow: scroll" >

            <style>
                table.profile_table {
                    border:1px solid #ccc;
                    color:#000000!important;
                    margin-bottom:20px;
                }
                table.profile_table tr{
                    border:1px solid #ccc;
                }
                table.profile_table tr td{
                    border:1px solid #ccc;
                    padding:5px;
                }

                .primary_header{
                    font-weight:bolder;
                    color:#369B36!important;
                    font-size:25px;
                }

                .secondary_header{
                    font-weight:bolder;
                }

                .align_left{
                    text-align:left;
                }
                .header_one{
                    background-color:#D2E1B5!important;
                    font-weight:bold;
                }

                .header_two{
                    background-color:#FCC48C!important;
                    font-weight:bold;
                }

                .preview_profile{
                    /*overflow: -moz-scrollbars-vertical;*/
                    /*overflow-y: scroll;*/
                    max-height:1000px;
                }
                .paragraph-style{
                    /*padding-left:40px;*/
                    white-space: pre-wrap;

                }

                .subpage {
                    margin-left: 8cm;
                    margin-top: 10cm;
                }

                .profile-pages{
                    /*width: 21cm;*/
                    /*min-height: 29.7cm;*/
                    /*padding: 1cm;*/
                    /*margin: 1cm auto;*/
                    /*border: 1px #D3D3D3 solid;*/
                    /*border-radius: 5px;*/
                    /*background: white;*/
                    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
                }

                .subheader{
                    background-color:#E1E1E1;
                    text-align:left!important;
                }

                span.top_green{
                    font-weight:bolder;
                    color:#339966!important;
                    /*font-size:23px;*/
                }

                span.top_grey{
                    font-weight:bolder;
                    color:#7F7F7F!important;
                    /*font-size:23px;*/
                }
            </style>

        </div>
        <div class="card-content">
            <div class="col s12 m4 l4">
                A
            </div>
            <div class="col s12 m8 l8">
                B
            </div>
        </div>
        <div class="card-reveal">

        </div>
    </div>
</div>