<style>
    .bootstrap-button-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
    .bootstrap-button {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid #c6c6c6!important;
        border-radius: 4px!important;
        cursor: pointer
    }

    .bootstrap-button:hover{
        background-color: #c5dbec!important;
    }
</style>
<div>
    <div class="col s12 m12 l12">
        <div class="col s12 z-depth-1" style="background-color:#ffffff;">
            <div class="section  lighten-5 " >
                <div class="input-field col s12 m3 l3 orgDropdown  lighten-5"  >
                    <multi-select-tree data-input-model="organisationUnitTree" multi-select="true"
                                       data-output-model="selectedItems" data-default-label="Organisation Units"
                                       data-callback="selectedCallback(item, selectedItems)"
                                       data-select-only-leafs="false"
                                       data-switch-view="false"
                    >

                    </multi-select-tree>
                    <img ng-if="!organisationUnitTree" src="assets/img/preloader.gif" style="height:15px;width:45px;">
                </div>

                <div class="input-field col s12 m1 l1  lighten-5" >

                    <select ng-change="selectPeriod(selectedYear)" ng-model="selectedYear"  material-select watch>
                        <option ng-selected="selectedYear" value="{{selectedYear}}">{{selectedYear}}</option>
                        <option ng-repeat="period in periods"  ng-if="selectedYear!=period.name">{{period.name}}</option>
                    </select>
                    <label>Period</label>
                </div>
                &nbsp;
                <div class="input-field col s12 m1 l1  lighten-5" >

                    <a class="waves-effect waves-light bootstrap-button bootstrap-button-default" type="button" ng-click="updateDataContainers()">Update</a>
                </div>

                <div class="input-field col s12 m7 l7 orgDropdown  lighten-5"  >
                    <ul class="right hide-on-med-and-down" style="text-align:right;">
                        <li ng-if="currentLogedUser"><a ><i class="fa fa-user "></i>&nbsp;&nbsp;: {{currentLogedUser}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a ng-click="userLogout()" style="cursor: pointer;">Logout</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a style="cursor: pointer;" ng-click="admin()"><i class="fa fa-cog"></i>&nbsp;Settings</a></li>
                        <li ng-if="!currentLogedUser && !loginForm"><a style="cursor:pointer;" >Login</a></li>
                        <li ng-if="loginForm">
                          <div ng-if="!isLoading" style="margin-top:-25px;margin-right:-160px;">
                            <div class="input-field col s4 m3 l3">
                                <input ng-model="username" id="username" type="text" class="validate">
                                <label for="username">Username</label>
                              </div>
                              <div class="input-field col s4 m3 l3">
                                <input ng-model="password" id="last_name" type="password" class="validate">
                                <label for="last_name">Password</label>
                              </div>
                              <div class="input-field col s4 m1 l1">
                                <a style="cursor:pointer;" ng-click="loginToDHIS(username,password)">Login</a>
                              </div>
                            </div>
                          </div>
                          <div ng-if="isLoading" style="margin-top:-25px;float:right;">
                            <img src="assets/img/ajax-loader.gif"></img>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col s12 m12 l12" >
        <div class="col s2 m2 l2" >
            <br/>
            <a  title="back to home"  href="#/home" ng-if="!showBackButton" >Home</a>
            &nbsp;|&nbsp;
            <a  title="downloadable files" href="#/home/downloadable/{{selectedOrgUnit}}/{{selectedYear}}">Profiles</a>
        </div>
        <div class="col s8 m8 l8" >
            <br/>
            <p class="center" style="text-align:left;">Health Profile : {{ orgUnitNames }} - {{ selectedYear }}</p>
        </div>
    </div>
</div>
